USE [master]
GO
/****** Object:  Database [ManagerAPI]    Script Date: 02-12-2019 01:22:59 PM ******/
CREATE DATABASE [ManagerAPI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ManagerAPI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\ManagerAPI.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ManagerAPI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\ManagerAPI_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ManagerAPI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ManagerAPI]
GO
/****** Object:  Table [dbo].[Manager]    Script Date: 02-12-2019 01:22:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manager](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[FatherName] [nvarchar](50) NULL,
	[Mobile] [nvarchar](50) NULL,
	[Designation] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
 CONSTRAINT [PK_Manager] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Manager] ON 

GO
INSERT [dbo].[Manager] ([ID], [Name], [FatherName], [Mobile], [Designation], [Email]) VALUES (2, N'Rajinder', N'gaj', N'8787877676', N'dhfg', N'abc@abc.com')
GO
INSERT [dbo].[Manager] ([ID], [Name], [FatherName], [Mobile], [Designation], [Email]) VALUES (3, N'Nirmal Singh', N'bcd', N'9815276871', N'Developer', N'singhnirmal128@gmail.com')
GO
INSERT [dbo].[Manager] ([ID], [Name], [FatherName], [Mobile], [Designation], [Email]) VALUES (4, N'Minhas', N'ASD', N'485748578', N'ASJHAJSH', N'SAJSHAJSH')
GO
SET IDENTITY_INSERT [dbo].[Manager] OFF
GO
USE [master]
GO
